body{
  background: #101522;
  min-height: 100vh;
}
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.Home {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.Home .card {
  max-width: 400px;
  width: 100%;
  text-align: center;
}

label.radio {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 20px;
}

label.radio+.radio {
  margin-left: 0;
}

label.radio input {
  margin-right: 10px;
}

/* test */ 

.main-nav{
  background: #101522;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.main-nav{
  padding: 0 100px
}
.main-nav .navbar-nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
}

.main-nav .navbar-nav li{
  margin: 0 10px;

}
.main-nav .navbar-nav li a{
  color: #fff;
}
.main-nav .logo{
  color: #fff;
  justify-self: flex-start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.container .param{
  color: white;
}

.container .profile_p{
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
}
.container ul{
  color: #fff;
}
.bigh1{
 font-size: 200%;
}